.gradient-custom-2 {
    /* fallback for old browsers */

    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, rgba(246, 241, 234, 0.503) 0%, rgba(184, 184, 255, 0.503) 100%), url("../img/inicioSesion.jpg");

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;

}

body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 70%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;

}

.imagenf {
    height: 110vh;
    background-image: linear-gradient(to right, rgba(246, 241, 234, 0.503) 0%, rgba(250, 236, 231, 0.503) 100%), url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header img{
    margin-left: 50px;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}

/*Barra de navegacion*/
.fijar-navegador {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #fff;
    overflow: hidden;
}

#no {
    background-color: #fff;
    height: 15%;
   
}

#no li {
    display: inline-block;
    margin-top: 30px;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;

}

#no ul li a:hover {
    border: gray;
}

#no a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}

/*Menu de hamburguesa*/
.hamburger {
    position: fixed;
    display: none;
    top: 30px;
    right: 30px;
    background: #fff;
    color: black;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);

}

@media screen and (max-width: 700px) {
    #no {
        display: none;
    }

    .hamburger {
        display: block;
    }



    
    .iniSesion h2{
        margin-top: 20px;
    }
    
    .bo{
        color: #ffffff;
        margin-top: 10px;

    }

    .iniSesion{
        /*contain: content;*/
    
        max-width: 80%;
        padding: 1px;
        margin:90px;
        margin-left: 90px;
    }

}

.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100%;
    background-image: linear-gradient(135deg, #282828 0%, rgb(0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translate(110%);
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}

/* Estilos para los elementos del menú */
.menu-navegacion ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

.menu-navegacion li {
    width: 100%;
    margin: auto;
    text-align: center;
}

.menu-navegacion a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 0;
    display: block;
    transition: color 0.3s;
}

.menu-navegacion li>a:hover {
    background-color: white;
    color: black;
}

.spread {
    transform: translate(0);
}

.menu-navegacion a {
    color: #fff;
    text-decoration: none;
}

.titulo {
    font-size: 60px;
    margin-bottom: 15px;
}

.copy {
    font-weight: 300;
    font-size: 25px;
}

.logo {
    float: left;
    width: 9%;
    margin-left: 85px;
    margin-right: 130px;
}

/*Nuestro servicio */

.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #000000;
    margin-bottom: 40px;
    font-size: 40px;

}

.contenedor-servicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.contenedor-servicio img {
    width: 40%;

}

.checklist-servicio {
    width: 45%;
}

.service {
    margin-bottom: 20px;
}

.n-service {
    margin-bottom: 7px;
    color: #ffffff;
}

.number {
    display: inline-block;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;

}

.gallery {
    background: #f2f2f2;
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.img-galeria {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light {
    position: fixed;
    background: rgb(0, 0, 0, .5);
    width: 100;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;

}

.showImage {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    width: 40;
    cursor: pointer;
}

.experts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;

}


/* footer*/

footer {
    background: #282828;
    padding-bottom: 0.1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 30%;
    color: #fff;

}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 20%;
    display: flex;
    justify-content: flex-end;

}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;

}

.social-media-icon:hover {
    background: #fff;
    color: #764ba2;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;

}

@media screen and (max-width:800px) {
    .menu-navegacion {
        width: 65vw;

    }

    .hamburger {
        top: 20px;
        right: 20px;
    }

    .titulo {
        font-size: 30px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .agregar-imagen {
        width: 95%;
    }

    .img-galeria {
        width: 95%;

    }

    .social-media {
        width: 100%;
    }

    .contact-us {
        width: 90%;
    }
    .iniSesion{
    
        max-width: 50%;
        padding: 150px;
        margin: 0px;
        margin-left: 400px;
    }




    .iniSesion h2{
        margin-top: 20px;
    }
    
    .bo{
        color: #ffffff;
        margin-top: 10px;

    }

    .iniSesion{
        /*contain: content;*/
    
        max-width: 80%;
        padding: 1px;
        margin:90px;
        margin-left: 90px;
    }




}

@media screen and(max-width:500px) {
    .menu-navegacion {
        width: 65vw;

    }

    .hamburger {
        top: 20px;
        right: 20px;
    }

    .titulo {
        font-size: 30px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .agregar-imagen {
        width: 95%;
    }

    .img-galeria {
        width: 95%;

    }

    .social-media {
        width: 100%;
    }

    .contact-us {
        width: 90%;
    }
    .iniSesion{
    
        max-width: 50%;
        padding: 150px;
        margin: 0px;
        margin-left: 400px;
    }




    .iniSesion h2{
        margin-top: 20px;
    }
    
    .bo{
        color: #ffffff;
        margin-top: 10px;

    }

    .iniSesion{
        /*contain: content;*/
    
        max-width: 80%;
        padding: 1px;
        margin:90px;
        margin-left: 90px;
    }





}

.mobile {
    height: 400px;
    width: 100%;
    display: flex;
    background-color: #e0e0e0;
    margin-top: 20px;
}

.mobile-image {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-image img {
    max-width: 100%;
    max-height: 100%;
}

.mobile-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 80px;
}

/* Productos */
/* Detalles Producto */
.detallesProductoContenedor {
    width: 90vh;
    height: 80%;
    margin: auto;
    background-color: #dedede;
    border-radius: 12px;
}

.detallesProducto {
    text-align: justify;
}

.contenedorPro {
    border-radius: 12px;
}

.contenedorPro img {
    border-radius: 12px;
    width: 75px;
    height: 125px;
}

/* Software en el index */

.categoria {
    width: 100%;
    height: 40vh;
    background-color: rgb(199, 199, 199);
}

.detallesProducto {
    text-align: justify;
}

#color{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(150deg, #6C3483, #58D68D);
    height: 100vh;
}
/*Tabla inicio de desion*/
.tablaModificar{
    max-width: 50%;
    padding: 50px;
    margin-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.tablaModificar.table{
    max-width: 80%;

}

.centrar{
    text-align: center;
}


/*imagen inicio de sesion*/
.imagenSesion {
    height: 110vh;
    background-image: linear-gradient(to right, rgba(246, 241, 234, 0.503) 0%, rgba(184, 184, 255, 0.503) 100%), url("../img/inicioSesion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0%;
}

/*CONTACTO*/
.titulocontacto {
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 200;
    color: #ffffff;
    font-size: 40px;
}
/*fondo*/
.contactob {
    background-repeat: no-repeat;
    background-attachment: static;
    background-position: center;
    background-image: linear-gradient(to top, rgba(27, 27, 27, 0.705) 0%, rgba(65, 63, 63, 0.4) 100%), url(../img/inicioSesion.jpg);
}
/*CAJA*/
.contentCon {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    padding-bottom: 8%;
}
.contactCon-wrapper {
    box-shadow: 0 0 20px 0 rgb(255, 255, 255);
}
/*COLOR DE LA CAJA IZQUIERDA*/
.contactCon-wrapper>* {
    background: #000000a1;
    padding: 1em;
}

.contactCon-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*POSICIÓN DE LOS CUADROS NOM, TEL*/
.contactCon-form form .blockCon {
    grid-column: 1/3;
}
/*VALORES DENTRO DEL CUADRO*/
.contactCon-form form p {
    padding: 1em;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.contactCon-form form button,
.contactCon-form form input,
.contactCon-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}
/* TAMAÑO,TIPO DE LETRA DE BOTON ETC*/
.contactCon-form form button {
    width: 200%;
    background: rgb(0, 0, 0);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

/*BOTON EFECTO*/
.contactCon-form form button:hover,
.contactCon-form form button:focus {
    background-color: rgba(87, 86, 80, 0.589);
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
    cursor: pointer;
}


.contactCon-info {
    background-color: rgba(37, 35, 35, 0.986);
    color: white;
}

.contactCon-info h2,
.contactCon-info ul,
.contactCon-info p {
    text-align: center;
    margin: 0 0 .4rem 0;
    font-size: 18px;
}

.contactCon-info ul {
    list-style: none;
    padding: 0;
}

.contactCon-info ul li {
    padding: .3em;
}
/*COLOR DE LOS LINKS*/
.contactCon-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.icono-hoverCon:hover {
    color: rgb(112, 194, 233);
}

@media screen and (min-width: 800px) {
    .body {
        padding: 0 4rem;
    }

    .contactCon-wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    /*AGREGAR PADDING A LOS ELEMENTOS*/
    .contactCon-wrapper>* {
        padding: 2em;

    }

    .contactCon-info h2,
    .contactCon-info ul,
    .contactCon-info p {
        padding: 1em;
        text-align: center;


    }
}